body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.celeb-pic {
  height: 60px;
}

.celebrity-row {
  display: flex;
}

.celebrity-table-row {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.celebrity-table-row:hover {
  background-color: rgba(20, 20, 200, 0.2);
}


nav {
  background-color: rgb(20, 20, 200);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav > a {
  color: white;
  text-decoration: none;
  margin: 5px;
}